/* mat-card {
    width: 60%;
    margin: auto;
}
 */
mat-form-field,
textarea {
  width: 100%;

}

mat-spinner {
  margin: auto;
}

.mat-spinner::ng-deep circle {
  stroke: #000;
}

input[type="file"] {
  visibility: hidden;
}
