<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let item of posts">
    <mat-expansion-panel-header>
      {{item.title}}
    </mat-expansion-panel-header>
    <p> {{item.content}}</p>

    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit',item.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(item.id)">DELETE</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>

<p class="mat-body-2 info-text" *ngIf="posts.length <= 0">
  No posts added yet
</p>