// applies the css to the element
:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}



mat-spinner {
  margin: auto;
}

.mat-spinner::ng-deep circle {
  stroke: orange;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 1.0)
}

mat-paginator {
  margin-top: 1rem;
}
