<mat-spinner *ngIf="isProgressLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isProgressLoading">
  <mat-expansion-panel *ngFor="let item of posts">
    <mat-expansion-panel-header>
      {{item.title}}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="item.imagePath" [alt]="item.title">
    </div>
    <p> {{item.content}}</p>

    <mat-action-row *ngIf="(isUserAuthenticated | async) && userId === item._creator">
    <!-- <mat-action-row *ngIf="(isUserAuthenticated | async)"> -->
      <a mat-button color="primary" [routerLink]="['/edit',item.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(item.id)">DELETE</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
<mat-paginator *ngIf="posts.length > 0" [length]="totalRecords" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)">
</mat-paginator>
<p class="mat-body-2 info-text" *ngIf="posts.length <= 0 && !isProgressLoading">
  No posts added yet
</p>
